// Color Pallete
$primary_color: #72EAEA;
$secondary_color: #2692F4;
$tertiary_color: #00FFAE;
$border: $tertiary_color solid;

$zero: 0;
$nav_font: 28px;

@mixin full-width {
  width: 100%;
}


// Hmaburger nav for phone needs to be position fixed.
main {
  background-color: $primary_color;
}

@media screen and(max-width:550px) and (min-width:250px){
  .desktop {
    display: none;
  }
  .menu {
    position: fixed;
    display: none;
    padding-top: 2rem;
    width: 100%;
  
    &.open {
      display: block;
      background-color: #00FFAE;
    }
  
    .menu-item {
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: lighten(#333, 10%);
      }
    }
    a{
      text-decoration: none;
    }
  }
  
  .hamburger-menu {
    position: fixed;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    padding-top: 0;
    z-index: 100;
  
    .line {
      z-index: 100;
      width: 100%;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
      padding-top: 0;
    }
  }
} 

// copy pasta nav for desktop, position absoloute
@media screen and (min-width: 550px) {
  .menu {
    display: none;
  }
  #landing {
    margin-top: 8rem;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: $nav_font;
    margin-bottom: $zero;
    background-color: rgb(195, 197, 198);
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
    ul > li {
      position: relative;
      padding:  $zero;
    }
    ul > li > a {
      color: #222;
      text-decoration: none
    
    }
    ul > li > a:before {
      content: '';
      display: block;
      height: 5px;
      width: 0%;
      background-color: #444;
      padding-top:4px;
      position: absolute;
      top: 30px;
    
      transition: all ease-in-out 250ms;
    }
    ul > li > a:hover::before {
      @include full-width;
    }
  }
}

// splash landing page with button that animates to start the scroll

#landing {
  text-align: center;
}

// image next to projects

// refactor to use mixins for img and figcaption

//on phone layout
@media screen and (max-width: 550px) and (min-width: 250px) {
  .container-tech{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    border: 0.25rem $secondary_color solid;
    figure {
      background-color: $secondary_color;
      border: .25rem $border;
      text-align: center;
      padding: 0.5rem
    }
    
    img {
      border: .125rem $border;
      max-width: 100%;
    }
    
    figcaption {
      border: .25rem $border;
      max-width: 100%;
    }
  }

}






// on desktop (5 columns by 2 rows)
@media screen  and (min-width: 600px){
  .container-tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0.5rem $secondary_color solid;
    figure {
      background-color: $secondary_color;
      border: .5rem $border;
      text-align: center;
      padding: 1rem
    }
    
    img {
      border: .25rem $border;
      max-width: 100%;
    }
    
    figcaption {
      border: .25rem $border;
      max-width: 100%;
    }
  }
}
