// Color Pallete
$primary_color: #6a9ac4;
$secondary_color: #6A6DC4;
$tertiary_color: #6AC4C1;
$border: $tertiary_color solid;

$zero: 0;
$nav_font: 28px;

@mixin full-width {
  width: 100%;
}

* {
  box-sizing: border-box;
  
}

h1 ,h2 {
  font-size: clamp(50px, 8vw, 60px);
  text-align: center;
}

main {
  background-color: $primary_color;
}

#landing {
  text-align: center;
  background-image: repeating-radial-gradient(circle,#6A9AC4, #6A6DC4 10%, #6AC4C1 15%);
}

// image next to projects

// refactor to use mixins for img and figcaption

.container-tech {
  img {
    max-width: 100%;
  }
  
  figcaption {
    max-width: 100%;
  }
}

#contact {
  background-color: #6a9ac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #1f2e43;
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, #263a53 0 40%, transparent 40.2%
    ), 
    #1f2e43;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

#contact-message {
  font-family: 'Arimo', sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}
#contact {
  img {
    width: 45px;
    height: 45px;
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
  }
  
  img:hover {
    transform: scale(1.1, 1.1);
  }
  
  img:active {
    transform: scale(1.1, 1.1);
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #222)
      sepia(0.3);
  }
}


.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
 h1, h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {

    h1, h2 {
      font-size: clamp(30px, 12vw, 60px);
    }
    
    .links {
      padding-top: 30px;
    }
    
    img {
      width: 38px;
      height: 38px;
    }
  }


// Hmaburger nav for phone needs to be position fixed.


@media screen and(max-width:550px) and (min-width:250px){
  .desktop {
    display: none;
  }
  .menu {
    position: fixed;
    display: none;
    padding-top: 2rem;
    width: 100%;
    top: 0;
  
    &.open {
      display: block;
      background-color: $secondary_color;
    }
  
    .menu-item {
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: lighten($tertiary_color, 10%);
      }
    }
    a{
      text-decoration: none;
    }
  }
  
  .hamburger-menu {
    position: fixed;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    top: 0;
    z-index: 100;
  
    .line {
      z-index: 100;
      width: 100%;
      height: 3px;
      background-color: $tertiary_color;
      margin: 5px 0;
      padding-top: 0;
    }
  }
} 

// copy pasta nav for desktop, position absoloute
@media screen and (min-width: 550px) {
  .menu {
    display: none;
  }
  #landing {
    margin-top: 8rem;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: $nav_font;
    margin-bottom: $zero;
    background-color:$tertiary_color;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
    ul > li {
      position: relative;
      padding:  $zero;
    }
    ul > li > a {
      color: $secondary_color;
      text-decoration: none
    
    }
    ul > li > a:before {
      content: '';
      display: block;
      height: 5px;
      width: 0%;
      background-color: $primary_color;
      padding-top:4px;
      position: absolute;
      top: 30px;
    
      transition: all ease-in-out 250ms;
    }
    ul > li > a:hover::before {
      @include full-width;
    }
  }
}



//on phone layout
@media screen and (max-width: 800px) and (min-width: 250px) {
  .container-tech{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    figure {
      background-color: $secondary_color;
      border: .25rem $border;
      text-align: center;
      padding: 0.5rem
    }
  
  }

}

@media screen  and (min-width: 801px) and (max-width: 1159px){
  .container-tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    figure {
      background-color: $secondary_color;
      border: .5rem $border;
      text-align: center;
      padding: 1rem
    }
  }
}

// on desktop (5 columns by 2 rows)
@media screen  and (min-width: 1160px){
  .container-tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    figure {
      background-color: $secondary_color;
      border: .5rem $border;
      text-align: center;
      padding: 1rem
    }
  }
}


// contact form



@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {

  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}



